# Frontend - Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Frontend - Dependencies
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Frontend - Editor directories and files
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
frontend/*.iml

# Frontend - Build outputs
frontend/build
frontend/out

# Frontend - Environment files
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Frontend - Testing
frontend/coverage
frontend/.nyc_output

# Frontend - Cache
frontend/.cache
frontend/.parcel-cache
frontend/.next
frontend/.nuxt
frontend/.vite
frontend/dist/

# Windows
frontend/Thumbs.db

# 가상환경
venv